@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Outfit:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  
  --color-brand-purple: #673ab7;
  --color-brand-purple-dark: #4527a0;
}

@layer base {
  body {
    @apply font-sans bg-white text-gray-900;
  }
}
